.bg{
    background-color: rgb(0, 0, 60);
    
}
.Überschrift {
    background-color: rgb(0, 40, 90);
    color: rgb(215, 39, 15);  
    font-size: 42pt;  
}
.Rechner{
    background-color: rgb(0, 40, 90);
}
.zwischenüberschrift{
    font-size: 22pt;
    color: rgb(196, 144, 1);
}
.normalT{
    color:rgb(196, 144, 1)
}