.titel {
    background-color: #0ec47e;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
.homeButtons {
    background-color: black;
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: fit-content;
    flex-direction: column;
    margin-bottom: 10px;
}
.rechnerMenue{
    margin-left: auto;
    background-color: rgb(14, 196, 126);
    margin-right: auto;
    width: fit-content;
}
.beschreibung{
    margin-left: auto;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    margin-right: auto;
    align-content: center;
    width: fit-content;
    
}
body{
    background-color: gray;
}