body {
  background-color: rgba(13, 36, 52, 255);
  font-family: "Montserrat", sans-serif;
}

.test-div {
  background-color: rgba(15, 47, 70, 255);
  height: 80px;
  width: 100%;
}

.calculator {
  background-color: rgba(15, 47, 70, 255);
  padding: 30px 60px 30px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: 20px;
}

.calculator-button {
  background-color: rgba(22, 67, 98, 255);
  margin-top: 16px;
  margin-bottom: 4px;
  border-radius: 8px;
  padding: 16px;
  color: rgb(247, 147, 51);
  font-size: 16px;
  font-weight: 600;
  border: none;
}

.calculator-button:hover {
  background-color: rgb(29, 87, 125);
}

.calculator-heading {
  color: rgb(247, 147, 51);
  font-size: 24px;
  margin: 0;
  font-weight: 500;
}

.calculator-input {
  border-radius: 8px;
  padding: 12px 8px 12px;
  border: none;
  font-size: 16px;
  font-weight: 500;
}

.calculator-input:focus {
  outline: none;
}

.calculator-input-heading {
  color: white;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
}

.main-content {
  height: 100vh;
  width: 65%;
  max-width: 1200px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.nav-bar-container {
  background-color: rgba(15, 47, 70, 255);
  height: 60px;
  width: 95%;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}

.nav-bar-container-left {
  width: 200px;
  flex-shrink: 0;
  display: flex;
}

.nav-bar-container-middle {
  flex-grow: 1;
  display: flex;
  gap: 16px;
  justify-content: center;
}

.nav-bar-container-right {
  width: 200px;
  flex-shrink: 0;
}

.nav-bar-link {
  color: white;
  text-decoration: none;
  padding: 12px 24px 12px;
  border-style: solid;
  border-color: rgb(28, 82, 120);
  border-radius: 8px;
}

.nav-bar-logo-number {
  color: rgb(247, 147, 51);
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 0;
  width: auto;
}

.nav-bar-logo-text {
  color: white;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 0;
  width: auto;
}

.result {
  display: flex;
  justify-content: space-between;
}

.result-container {
  background-color: rgba(15, 47, 70, 255);
  padding: 30px 60px 30px;
  border-radius: 20px;
}

.result-heading {
  color: rgb(247, 147, 51);
  font-size: 24px;
  margin: 0;
  font-weight: 500;
}

.result-title {
  color: white;
  font-weight: 500;
}

.result-value {
  color: rgb(247, 147, 51);
}
