body {
    max-width: 1300px;
    min-width: 1300px;
    position: absolute;
    white-space: normal;   
    background-color: #011c35;
    font-size: 25px;
}

.boxEins {
    background-color: #10395f;   
    margin-left:300px;
    border-radius: 20px;
}

.boxZwei {
    background-color: #10395f;
    margin-top: 10px;
    margin-left:300px;
    border-radius: 20px;
}

.hEins {
    color: #02223f;
}

.hDrei {
    color: #346eb1;    
}

input {
    width: 500px;
    border-color: rgba(0, 0, 0, 0);
    padding: 20px;
    border-radius: 12.5px;
    font-size: 20px;
}

input:focus {
    background-color: rgb(231, 231, 231);
}

input:hover {
    background-color: rgb(231, 241, 255);
}

::-webkit-input-placeholder {
    color: #506388;
}

select {
    width: 540px;
    border-color: rgba(0, 0, 0, 0);
    padding: 20px;
    border-radius: 12.5px;
    font-size: 20px;
    color: #506388;
}

select:active {
    background-color: rgba(242, 242, 242, 0.973);
}

.buttonEins {
    width: 500px;
    background-color: #dab3ff;
    padding: 20px;
    border: none;
    border-radius: 25px;
    color: #590083;
    font-size: 25px;
}

.buttonEins:active {
    background-color: #b3d4ff; 
    color: #00345c;   
}
 
.ulA {
    list-style-type: none;
    display: block;
    overflow-y: scroll;
    scrollbar-width: 5px;
    width: 260px;
    height: 92%;
    color: #b3d4ff;
    position: fixed;
    padding-bottom: 40px;
    background-image: linear-gradient(#235f97, #011c35);
    font-size: 17px;
}

.pZwei {
    margin-left: 7.5px;
}

.bNull {
  color: #ba7df3;
}

.bEins {
  color: #dab3ff;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #949494; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #757575; 
  }