body {
    max-width: 1200px;
    min-width: 1200px;
    position: absolute;
    white-space: normal;   
    background-color: #1a334a;
    font-size: 25px;
}

.boxEins {
    background-color: #1e536e;    
    border-radius: 50px;
    margin-left:300px;
    color: #5aa5cd;

}

.boxZwei {
    background-color: #1e536e;    
    border-radius: 25px;
    margin-left:300px;
    color: #5aa5cd;
}

input {
    width: 500px;
    border-color: rgba(0, 0, 0, 0);
    padding: 20px;
    border-radius: 12.5px;
    font-size: 20px;
}

input:focus {
    background-color: rgb(231, 231, 231);
}

input:hover {
    background-color: rgb(207, 207, 207);
}

select {
    width: 540px;
    border-color: rgba(0, 0, 0, 0);
    padding: 20px;
    border-radius: 12.5px;
    font-size: 20px;
}

select:active {
    background-color: rgba(242, 242, 242, 0.973);
}

.buttonEins {
    width: 500px;
    background-color: #361147;
    padding: 20px;
    border: none;
    border-radius: 25px;
    color: #ab73b9;
    font-size: 25px;
}

.buttonEins:active {
    background-color: #739ab9; 
    color: #113047;   
}
 
.ulA {
    list-style-type: none;
    display: block;
    overflow-y: scroll;
    scrollbar-width: 5px;
    width: 260px;
    height: 92%;
    color: #1a334a;
    position: fixed;
    padding-bottom: 40px;
    background-image: linear-gradient(#1e536e, #896fa1);
    font-size: 17px;
}

.pZwei {
    margin-left: 7.5px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #74757a; 
  }